---
layout: default
title: Home
---
<div class="main">

  <!-- Panel Section -->
  <div class="main-inner">

    <!-- Panel Section - First Row -->
    <div class="section">

      <!-- Bridging the digital divide section -->
      <div class="visionSection">
        <h1>Bridging the digital divide</h1>
        <p>A community interested in technology, mentorship and service events to promote digital literacy across Hawaii.</p>
        <button><a href="/about.html">Learn more</a></button>
      </div>

      <!-- Updates section -->
      <div id="newSection">
        <h2 id="update">UPDATES</h2>
        <br>
        <ul>
          {% assign news = site.posts | where:'tags', 'update' %}

          {% for post in news %}
              <li>
                <h2><a href="{{ post.url }}">{{ post.title }}, {{ post.date | date: "%b %d, %Y" }}</a></h2>
                {{ post.excerpt }}
              </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <!-- Panel Section - Second Row -->
    <div class="section">

      <!-- Our goal section -->
      <div id="goalSection">
        <h1>Our goal</h1>
        <p>Technology Outreach Hawaii aims to guide Hawaii towards confidence in being users and/or creators of technology while empowering youth. We are working to partner with libraries and community organizations across the state to offer student-driven digital literacy initiatives.</p>
      </div>

      <!-- Our team section -->
      <div id="teamSection">
        <div class="profile-header">
          <h2>OUR TEAM</h2>
          <p>Meet our mix of undergraduate and graduate students with interests in computer science, physics, math, and medicine.</p>
        </div>
        <br>
        {% assign totalRows = site.data.members | size | divided_by: 4.0 | ceil %}
        {% assign offset = 0 %}
        {% for i in (1..totalRows) %}
          {% assign row = 'row' | append:i %}
          {% assign prev = 'prev' | append:i %}
          {% assign next = 'next' | append:i %}
          <div id={{row}} class="profile-section">
            <a id={{prev}} class="prev">&#10094;</a>
            {% for member in site.data.members limit: 4 offset: offset %}
            <div class="profile">
              <img src="{{ member[1].profile }}" alt="team-profile">
            </div>
          {% endfor %}
          <a id={{next}} class="next">&#10095;</a>
          </div>
          {% assign offset = offset | plus: 4 %}
        {% endfor %}
        <div class="place">
          {% for i in (1..totalRows) %}
            {% assign dot = 'dot' | append:i %}
            <div id={{dot}} class="place-dot"></div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <!-- Wave Section -->
  <div class="spacing">

  </div>
  <div class="section" id="stand-section">
    <!-- Our Vision Section -->
    <div class="vision-container">
      <div class="vision-text">
        <h1>Our Vision</h1>
        <div class="vision-link">
          <h1><a href="#">A Hawaii where everyone has access to technology education and resources.</a></h1>
        </div>
        <div class="vision-body">
          <p>We must bridge the digital divide in Hawaii by creating a sustainable and measurable infrastructure for accessible technology education, skilled mentors, and resources.</p>
          <br/>
          <p>Our goal is to involve 60% of zip codes in our programs by December 31, 2021.</p>
        </div>
      </div>
    </div>

    <!-- What We Do Section -->
    <div class="stand-box">
      <div class="stand-heading">
        <h1>What we do</h1>
      </div>

      <!-- What We Do Section - repeat A -->
      <div class="stand-layout">
        <div class="stand-heading">
          <h1><a href="/events.html">Promote technology education</a></h1>
        </div>
        <div class="stand-individual">
          <div class="stand-img">
            <img src="{{site.url}}/assets/images/home/education.png" alt="education-icon">
          </div>
          <div class="stand-body">
            <p>We start and support events related to technology education. </p>
            <h2><a href="/events.html">Explore our current events</a></h2>
          </div>
        </div>
      </div>

      <!-- What We Do Section - repeat B -->
      <div class="stand-layout">
        <div class="stand-heading">
          <h1><a href="/community.html">Make resources accessible </a></h1>
        </div>
        <div class="stand-individual">
          <div class="stand-img">
            <img src="{{site.url}}/assets/images/home/access.png" alt="access-icon">
          </div>
          <div class="stand-body">
            <p>We aim to be the hub for all free community technology resources across the state.  </p>
            <h2><a href="/community.html">View the list of community resources </a></h2>
          </div>
        </div>
      </div>

      <!-- What We Do Section - repeat C -->
      <div class="stand-layout">
        <div class="stand-heading">
              <h1><a href="{% link _posts/2021-01-22-Volunteers.md %}">Empower youth</a></h1>
        </div>
        <div class="stand-individual">
          <div class="stand-img">
            <img src="{{site.url}}/assets/images/home/empower.png" alt="empower-icon">
          </div>
          <div class="stand-body">
            <p>We encourage mentorship, service, and character building activities for youth. </p>
            <h2><a href="{% link _posts/2021-01-22-Volunteers.md %}">Join our volunteer network </a></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Section 2 -->
    {% include instafeed.html %}
  </div>
  <!-- End of File -->
  <script src="/assets/js/slideshow.js"></script>
