---
layout: default
title: Home
---
<div class="main">

  <!-- Panel Section -->
  <div class="main-inner">

    <!-- Panel Section - First Row -->
    <div class="section">

      <!-- Bridging the digital divide section -->
      <div class="visionSection">
        <h1>Bridging the Digital Divide</h1>
        <p>A 501(c)3 non-profit leveraging the power of our youth to promote technology education, mentorship, collaboration and service across Hawaii.</p>
        <button><a href="/about.html">Learn more</a></button>
      </div>

      <!-- Updates section -->
      <div id="newSection">
        <h2 id="update">UPDATES</h2>
        <br>
        <ul>
          {% assign news = site.posts | where:'tags', 'update' %}

          {% for post in news %}
              <li>
                <h2><a href="{{ post.url }}">{{ post.title }}, {{ post.date | date: "%b %d, %Y" }}</a></h2>
                {{ post.excerpt }}
              </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  {% include carousel.html %}

  <!-- Wave Section -->
  <div class="spacing">

  </div>
  <div class="section" id="stand-section">
    <!-- Our Vision Section -->
    <div class="vision-container">
      <div class="vision-text">
        <h1>Vision</h1>
        <div class="vision-link">
          <h1><a href="#">Equip motivated Hawaii youth with the skills to thrive in the digital landscape of the future. </a></h1>
        </div>
        <!-- <div class="vision-body">
          <p>We must bridge the digital divide in Hawaii by creating a sustainable and measurable infrastructure for accessible technology education, skilled mentors, and resources.</p>
        </div> -->
      </div>
    </div>

    <!-- What We Do Section -->
    <div class="stand-box">
      <div class="stand-heading">
        <h1>What We Do</h1>
      </div>

      <!-- What We Do Section - repeat A -->
      <div class="stand-layout">
        <div class="stand-heading">
          <h1><a href="/programs.html">Promote technology education</a></h1>
        </div>
        <div class="stand-individual">
          <div class="stand-img">
            <img src="/assets/images/home/education.png" alt="education-icon">
          </div>
          <div class="stand-body">
            <p>Technological skills are essential for success in our rapidly advancing world. We utilize neer-peer mentorship to provide up-to-date knowledge and mutual benefits to both mentor and mentee. </p>
          </div>
        </div>
      </div>

      <!-- What We Do Section - repeat B -->
      <div class="stand-layout">
        <div class="stand-heading">
              <h1><a href="{% link _posts/2021-01-22-Volunteers.md %}">Empower youth</a></h1>
        </div>
        <div class="stand-individual">
          <div class="stand-img">
            <img src="/assets/images/home/empower.png" alt="empower-icon">
          </div>
          <div class="stand-body">
            <p>Built by students, for students, we empower youth and young adults by providing opportunities for leadership, mentorship, and innovation.  </p>
          </div>
        </div>
      </div>

      <!-- What We Do Section - repeat C -->
      <div class="stand-layout">
        <div class="stand-heading">
          <h1><a href="/community.html">Make resources accessible </a></h1>
        </div>
        <div class="stand-individual">
          <div class="stand-img">
            <img src="/assets/images/home/access.png" alt="access-icon">
          </div>
          <div class="stand-body">
            <p>All programs are free and supported by the passion and generosity of our volunteers, donors, and sponsors. We strive to provide the technological resources required for learning.   </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- End of File -->
  <script src="/assets/js/slideshow.js"></script>
