---
layout: resource
title: Resources
---

<!-- Island Section -->
<div class="resources-island" id="oahu">
  <h2>Resources in Hawaii</h2>
  <div class="resources-island-bar">
    <a href="/resource-oahu.html#oahu" {% if page.url == "/resource-oahu.html" %}style="color: black; text-decoration: underline;"{% endif %}>Oahu</a>
    <a href="/resource-bigisland.html#bigisland" {% if page.url == "/resource-bigisland.html" %}style="color: black; text-decoration: underline;"{% endif %}>Big Island</a>
    <a href="/resource-maui.html#maui" {% if page.url == "/resource-maui.html" %}style="color: black; text-decoration: underline;"{% endif %}>Maui</a>
    <a href="/resource-kauai.html#kauai" {% if page.url == "/resource-kauai.html" %}style="color: black; text-decoration: underline;"{% endif %}>Kauai</a>
  </div>
  <div class="resources-island-section">
    {% for source in site.sources%}
      {% if source.island == 'Oahu' %}
        <div class="resources-island-section-container">
          <div class="resources-island-section-container-img">
            <img src="{{ source.picture }}" alt="">
          </div>
          <div class="resources-island-section-container-body">
            <div class="resources-island-section-container-body-top">
              <h3>{{ source.title }}</h3>
              <br>
              <p>{{ source.excerpt }}</p>
            </div>
            <p>{{ source.tags }}</p>
          </div>
        </div>
      {% endif%}
    {% endfor %}
  </div>
</div>

<!-- Test -->
<div class="resources-island">
  <h1>TEST</h1>
  <div class="searchWrapper">
    <input type="text" name="searchBar" id="searchBar" placeholder="search" value=""/>
  </div>
  <ul id="sourceList"></ul>
</div>

<script src="/assets/js/search.js"></script>
