.alert-banner {
  @include size(100%, 50px);
  background-color: $dark-blue;

  .message {
    @include flex(row, center, center);
    @include size(100%, 100%);
    border-bottom: 1px solid white;
    padding: 0px 20px;
  }
}
