#footer {
	width: 100%;
	background-color: $dark-blue;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  	@include flex(column, center, center);
	color: white;
}

#footer-main {
	width: 90%;
	display: flex;
	justify-content: space-between;
  	@include flex(row, space-between, flex-start);
}

.footer-section {
	width: 40%;
	padding: 20px;
	@include flex(column, space-between, flex-start);

	@include laptop {
		width: 100%;
		@include flex(column, center, center);
	}

	#footer-padding {
		padding-bottom: 33.5px;
	}

}

.footer-link {
	width: 40%;
	padding: 20px 20px 0px 20px;
	@include flex(row, space-between, flex-start);

	@include laptop {
		width: 100%;
		@include flex(column, center, center);
	}
}

.footer-pagelink {
	padding: 0 10%;
	width: 100%;
	@include flex(column, flex-start, flex-start);

	h4 {
		padding-bottom: 33px;
	}

	@include laptop {
		@include flex(row, center, center);
		padding: 0px;

		h4 {
			padding: 10px;
		}
	}
}

#footer h4 {
	font-family: $archivo-narrow;
	font-weight: 700;
	letter-spacing: 1px;
	// font-size: 15px;
	color: white;
}

.footer-social {
	padding-top: 20px;
	@include flex(column, center, flex-start);
	width: 20%;
	
	.footer-social-title {
		width: 100%;
		@include flex(column, center, center);
	}

	.footer-social-icon {
		width: 100%;
		@include flex(row, center, flex-start);
		img {
		width: 40px;
		border-radius: 50%;
		margin: 5px;
		}
	}

	@include laptop {
		width: 100%;
	}
}

.copyright {
	h6 {
		font-style: italic;
	}
	a {
		color: white;
		font-weight: normal;
		font-style: italic;
		font-size: 16px;
		font-family: $archivo-narrow;
	}
	padding-bottom: 20px;
}

@media only screen and (max-width: 960px) {
	#footer{
		height: 100%;
		padding-bottom: 20px;
		padding-top: 20px;
	}
	#footer-main{
		flex-direction: column;
	}

	.footer-social{
		img {
			width: 40px;
		}
	}
}
