.current {
  color: $light-blue;
}

nav {
  width: 100%;
  background-color: $dark-blue;
  @include flex(row, center, center);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: relative;
  z-index: 1;
  @include mobile {
    // height: 300px;
  }
  @include tablet {
    // height: 100px;
  }

  ul {
    width: 60%;
    height: 100%;
    @include flex(row, space-around, center);
    @include mobile {
      // width: 100%;
    }
    @include tablet {
      // width: 80%;
    }
  }

  li {
    height: 100%;
    letter-spacing: 1px;
    list-style-type: none;
    cursor: pointer;
    color: $grey;

    @include flex(row, center, center);

    @include mobile {
      // border-top: 5px solid $grey;
    }
    @include tablet {
      // border-top: none;
    }
  }

  #logo {
    width: 45%;
  }
}
