#sidebar {
  background-color: $dark-blue;
  height: 100%;
  width: 30%;
  overflow-y: scroll;
  @include flex(column, flex-start, flex-end);

  #sidebar-post-ul {
    margin-top: 40px;
    width: 100%;
    @include flex(column, center, center);

    a {
      display: block;
      width: 100%;
      padding: 10px;
      @include flex(row, flex-end, center);
    }
    li {
      width: 80%;
      @include flex(column, flex-start, flex-start);
    h3 {
      font-size: 20px;
    }
    p {
      font-size: 15px;
    }
    }
    a:hover {
      background-color: $light-grey;
      color: $black;
    }
  }
}
