.carousel {
    width: 100%;
    margin: 20px;

    @include laptop {
        display: none;
      }
}

.carousel-row {
    width: 100%;
    @include flex(row, flex-start, flex-start);
}

.carousel-image {
    border: 1px solid white;
    max-height: 500px;
    width: 50%;
    object-fit: contain;
    height: auto;
  }