<! -- Used for Google analytics-->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2ZJRRKPBL4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2ZJRRKPBL4');
</script>

<! -- Used for Mail Chimp analytics-->
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}
(document,"script","https://chimpstatic.com/mcjs-connected/js/users/63b0be694c1c4b6d9532db715/cdf5cf8cc1440107a6322a0f1.js");
</script>
