<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link href='/fullcalendar/main.css' rel='stylesheet' />
    <script src='/fullcalendar/main.js'></script>
    <script>

document.addEventListener('DOMContentLoaded', function() {
  var calendarEl = document.getElementById('calendar');
  let calendar = new FullCalendar.Calendar(calendarEl, {
    googleCalendarApiKey: 'AIzaSyBpxwvJJj_6oxkjoH6iWLwkL6McedLGt0Y',
    events: {
      googleCalendarId: '0hscbrc13u937vjo4pfbb9cqeo@group.calendar.google.com',
      className: 'gcal-event' // an option!
    }
});
  calendar.render();
});


    </script>
  </head>
  <body>
    <div id='calendar'></div>
  </body>
</html>
