<!-- Island Section -->
<div class="resources-island">
  <h2>Local Resources</h2>
  <div class="resources-island-bar">
    <div class="resources-island-bar-list">
      <a id="oahu">Oahu</a>
      <a id="bigisland">Big Island</a>
      <a id="maui">Maui</a>
      <a id="kauai">Kauai</a>
    </div>
  </div>

  <div class="resources-island-section">
      <div class="resources-island-section-search">
        <div class="resources-island-section-search-bar">
          <input type="text" name="searchBar" id="searchBar" value=""/>
          <input id="submit" type="submit" name="" value="">
        </div>
    </div>
    <ul id="sourceList"></ul>
  </div>
</div>

<script src="/assets/js/localResourcesSearch.js"></script>
