<div id="footer">
  <div id="footer-main">
    <div class="footer-section">
      <h4>TECHOUTREACHHI@GMAIL.COM</h4>
    </div>
    <div class="footer-section social">
      <a href="https://www.facebook.com/techoutreachhi" target="blank"><img src="/assets/images/logo/fb-white.png" alt="facebook-logo"></a>
      <a href="https://www.instagram.com/techoutreachhi/" target="blank"><img src="/assets/images/logo/ig-white.png" alt="instagram-logo"></a>
      <a href="https://twitter.com/techoutreachhi" target="blank"><img src="/assets/images/logo/twitter-white.png" alt="twitter-logo"></a>
      <a href="http://eepurl.com/hojSrv" target="blank"><img src="/assets/images/logo/mailchimp-white.png" alt="mailchimp-logo"></a>
    </div>
    <div class="footer-section">
      <!-- reference https://stackoverflow.com/questions/4562587/shortest-way-to-print-current-year-in-a-website by T.J. Crowder -->
      <h4>Copyright <script>document.write(new Date().getFullYear())</script>.</h4>
    </div>
    <div class="footer-section">
      <a href="/privacy.html"><h4>PRIVACY POLICY</h4></a>
    </div>
  </div>
</div>
