<div id="footer">
  <div id="footer-main">
    <div class="footer-section">
      <h6 id="footer-padding"><a href="">Technology Outreach Hawaii (TORCH)</a> is a Hawaii non-profit organization tax-exempt under section 501(c)(3) of the Internal Revenue Code. Federal Identification Number or EIN: 87-1216901 </h6>
      <h4><a href="">Contact Us At</a></h4>
      <h6>techoutreachhi@gmail.com</h6>
    </div>
    <div class="footer-social">
      <div class="footer-social-title">
        <h4><a href="https://linktr.ee/hitorch">Connect With Us</a></h4>
        <br>
      </div>
      <div class="footer-social-icon">
        <a href="https://www.facebook.com/techoutreachhi" target="blank"><img src="/assets/images/logo/fb-white.png" alt="facebook-logo"></a>
        <a href="https://www.instagram.com/hitorch/" target="blank"><img src="/assets/images/logo/ig-white.png" alt="instagram-logo"></a>
        <a href="https://twitter.com/hitorch" target="blank"><img src="/assets/images/logo/twitter-white.png" alt="twitter-logo"></a>
      </div>
      <div class="footer-social-title">
        <br>
        <h4><a href="http://eepurl.com/hojSrv">Subscribe for Updates</a></h4>
        <br>
      </div>
    </div>
    <div class="footer-link">
      <div class="footer-pagelink">
        <h4><a href="/about.html">Our People</a></h4>
        <h4><a href="/programs.html">What We Do</a></h4>
        <h4><a href="/2021/01/22/Volunteers.html">Get Involved</a></h4>
      </div>
      <div class="footer-pagelink">
        <h4><a href="/index.html">Program</a></h4>
        <h4><a href="/community.html">Community</a></h4>
        <h4><a href="/programs.html">Impact</a></h4>
      </div>
    </div>


    <!-- <div class="footer-section"> -->
      <!-- reference https://stackoverflow.com/questions/4562587/shortest-way-to-print-current-year-in-a-website by T.J. Crowder -->
      <!-- <h4>Copyright <script>document.write(new Date().getFullYear())</script>.</h4>
    </div> ..-->
    <!-- <div class="footer-section">
      <a href="/privacy.html"><h4>PRIVACY POLICY</h4></a>
    </div> -->
  </div>
  <div class="copyright">
    <h6>Copyright <script>document.write(new Date().getFullYear())</script> &#x2022; <a href="/privacy.html">Privacy Policy</a></h6>
  </div>
</div>
