<div id="footer">
  <div id="footer-main">
    <div class="footer-section">
      <h4>TECHOUTREACHHI@GMAIL.COM</h4>
    </div>
    <div class="footer-section social">
      <a href="https://www.facebook.com/techoutreachhi" target="blank"><img src="{{site.url}}/assets/images/logo/fb-white.png" alt=""></a>
      <a href="https://www.instagram.com/techoutreachhawaii/" target="blank"><img src="{{site.url}}/assets/images/logo/ig-white.png" alt=""></a>
      <a href="https://github.com/technology-outreach-hawaii" target="blank"><img src="{{site.url}}/assets/images/logo/github-white.png" alt=""></a>
      <a href="http://eepurl.com/hojSrv" target="blank"><img src="{{site.url}}/assets/images/logo/mailchimp-white.png" alt=""></a>
    </div>
    <div class="footer-section">
      <h4>COPYRIGHT 2021.</h4>
    </div>
  </div>
</div>
