<div class="IGcontainer">
  <div class="IGcontainer-space">
    <div class="IGcontainer-space-heading">
      <h1 class="stand-section"><a href="https://www.instagram.com/techoutreachhawaii/" target=“_blank”>Instagram</a></h1>
    </div>
    <div id="instafeed" class="row"></div>
  </div>
</div>
<script src="/assets/instafeed/instafeed.min.js"></script>
<script type="text/javascript">
  fetch("https://ig.instant-tokens.com/users/3f03ff7e-18e5-484f-afa5-ab1bb3635b3b/instagram/17841445099624568/token?userSecret=z7b54wsrxo1w0bkikcu3e")
.then(resp => resp.json())
.then(data => {
      var feed = new Instafeed({
          accessToken: data.Token,
          limit: 8,
          sortBy: 'most-recent',
          success: function(response){
                      // Author: Benjamin Hull
                      var maxLength = 30;
                      response.data.forEach(function(e){
                        if (!e.caption) {
                          return false; //Skip if there's no caption
                        }
                        e.shortCaption = ''; //Initialize to an empty string
                        var textParts = e.caption.split(' '); //Split the caption into words

                        while(true) {
                          var nextWord = textParts.shift();

                          if (!nextWord) {
                            break; //If we hit the end of the caption before we hit the limit, bail out
                          }

                          if (e.shortCaption.length + nextWord.length < maxLength - 1){ //Check if the next word will fit into the limit (minus 1 includes the space)
                            e.shortCaption += ' ' + nextWord; //If so, append it with a space
                          } else {
                            e.shortCaption = e.shortCaption.trim() + '…'; //If not, finish with an ellipsis and bail out
                            break;
                          }
                        }
                      });
                    },

          template: {% raw %}
          '<div class="col"><a href="{{link}}" target="_blank" ><div class="IGpost" style="background-image: url({{image}});"><div class="IGcaption">{{model.shortCaption}}</div></div></a></div>'
          {% endraw %},
      });
      feed.run();
  });
  </script>
