<nav>
  <ul>
    <li class="nav-link"><a href="/" {% if page.url == "/" %}style="color: #E4FCFF;"{% endif %}>HOME</a></li>
    <li class="nav-link"><a href="/resources.html" {% if page.url == "/resources.html" %}style="color: #E4FCFF;"{% endif %}>RESOURCES</a></li>
    <img id="logo" src="/assets/images/logo.svg" alt="">
    <li class="nav-link"><a href="/team.html" {% if page.url == "/team.html" %}style="color: #E4FCFF;"{% endif %}>TEAM</a></li>
    <li class="nav-link"><a href="/blog.html" {% if page.url == "/blog.html" %}style="color: #E4FCFF;"{% endif %}>BLOG</a></li>
  </ul>
</nav>

<nav id="nav-mobile">
  <ul>
    <li><a href="/" {% if page.url == "/" %}style="color: #E4FCFF;"{% endif %}>HOME</a></li>
    <li><a href="/resources.html" {% if page.url == "/resources.html" %}style="color: #E4FCFF;"{% endif %}>RESOURCES</a></li>
    <li><a href="/team.html" {% if page.url == "/team.html" %}style="color: #E4FCFF;"{% endif %}>TEAM</a></li>
    <li><a href="/blog.html" {% if page.url == "/blog.html" %}style="color: #E4FCFF;"{% endif %}>BLOG</a></li>
  </ul>
</nav>
