<nav>
  <a href="/"><img id="logo" src="/assets/images/logo/logo.svg" alt="TORCH-logo"></a>
  <ul>
    <li class="nav-link"><a href="/programs.html" {% if page.url == "/programs.html" %}style="color: #E4FCFF;"{% endif %}>PROGRAMS</a></li>
    <div class="dropdown nav-link">
      <li><a href="/community.html" {% if page.url == "/blog.html" || if page.url == "/community.html" %}style="color: #E4FCFF;"{% endif %}>RESOURCES</a></li>
      <div class="dropdown-content">
        <br>
        <li class="dropdown-content-last"><a href="/community.html" {% if page.url == "/community.html" %}style="color: #E4FCFF;"{% endif %}>COMMUNITY</a></li>
        <li class="dropdown-content-last"><a href="/blog.html" {% if page.url == "/blog.html" %}style="color: #E4FCFF;"{% endif %}>BLOG</a></li>
      </div>
    </div>
    <li class="nav-link"><a href="/about.html" {% if page.url == "/about.html" %}style="color: #E4FCFF;"{% endif %}>ABOUT</a></li>
    <li class="nav-link"><a class="cv-button" href="#">DONATE</a></li>
  </ul>
</nav>

<nav id="nav-mobile">
  <ul>
    <li><a href="/programs.html" {% if page.url == "/programs.html" %}style="color: #E4FCFF;"{% endif %}>PROGRAMS</a></li>
    <div class="dropdown">
      <li><a href="/community.html" {% if page.url == "/blog.html" || if page.url == "/community.html" %}style="color: #E4FCFF;"{% endif %}>RESOURCES</a></li>
      <div class="dropdown-content">
        <li class="dropdown-content-last"><a href="/community.html" {% if page.url == "/community.html" %}style="color: #E4FCFF;"{% endif %}>COMMUNITY</a></li>
        <li class="dropdown-content-last"><a href="/blog.html" {% if page.url == "/blog.html" %}style="color: #E4FCFF;"{% endif %}>BLOG</a></li>
      </div>
    </div>
    <li><a href="/about.html" {% if page.url == "/about.html" %}style="color: #E4FCFF;"{% endif %}>ABOUT</a></li>
    <li><a class="cv-button" href="#">DONATE</a></li>
  </ul>
</nav>

<script type="text/javascript">
_cv('bindButton', {
  selector: '.cv-button',
  type: 'donation',
  campaign_id: '6gKl1Ayae7AMNvLQ',
});
</script>
