<div class="resources-island-bar">
  <div class="resources-island-bar-list">
    <a href="/resource-oahu.html#oahu" {% if page.url == "/resource-oahu.html" %}style="background: -webkit-linear-gradient(black, black); -webkit-background-clip: text;
     -webkit-text-fill-color: transparent; border-bottom: 1px solid black;"{% endif %}>Oahu</a>
    <a href="/resource-bigisland.html#bigisland" {% if page.url == "/resource-bigisland.html" %}style="background: -webkit-linear-gradient(black, black); -webkit-background-clip: text;
     -webkit-text-fill-color: transparent; border-bottom: 1px solid black;"{% endif %}>Big Island</a>
    <a href="/resource-maui.html#maui" {% if page.url == "/resource-maui.html" %}style="background: -webkit-linear-gradient(black, black); -webkit-background-clip: text;
     -webkit-text-fill-color: transparent; border-bottom: 1px solid black;"{% endif %}>Maui</a>
    <a href="/resource-kauai.html#kauai" {% if page.url == "/resource-kauai.html" %}style="background: -webkit-linear-gradient(black, black); -webkit-background-clip: text;
     -webkit-text-fill-color: transparent; border-bottom: 1px solid black;"{% endif %}>Kauai</a>
  </div>
  <!-- <div class="resources-island-bar-img">
    <img src="assets/images/hawaii.png" alt="">
  </div> -->
</div>
