<div class="resources-island-bar">
  <div class="resources-island-bar-list">
    <a href="/resource-oahu.html#oahu" {% if page.url == "/resource-oahu.html" %}style="color: #0A303B; text-decoration: underline;"{% endif %}>Oahu</a>
    <a href="/resource-bigisland.html#bigisland" {% if page.url == "/resource-bigisland.html" %}style="color: #0A303B; text-decoration: underline;"{% endif %}>Big Island</a>
    <a href="/resource-maui.html#maui" {% if page.url == "/resource-maui.html" %}style="color: #0A303B; text-decoration: underline;"{% endif %}>Maui</a>
    <a href="/resource-kauai.html#kauai" {% if page.url == "/resource-kauai.html" %}style="color: #0A303B; text-decoration: underline;"{% endif %}>Kauai</a>
  </div>
  <!-- <div class="resources-island-bar-img">
    <img src="assets/images/hawaii.png" alt="">
  </div> -->
</div>
