.blog-main {
    width: 100%;
    background-color: white;
    @include flex(column, center, center);

    h1, p {
      color: white;
    }

    a {
      font-size: $h4;
    }

  .blog-background {
    @include flex(column, flex-start, center);
    width: 100%;
    height: 560px;
    background-image: url('../../assets/images/test.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .blog-box {
    width: 90%;
    @include flex(column, space-between, flex-start);
  }

  .blog-header{
    padding: 40px 0px;
    width: 100%;

    h1 {
      width: 100%;
      text-align: center;
    }
  }

  .blog-front {
    width: 100%;
    display: flex;

      .blog-left  {
        width: 43%;
        background-color: $dark-blue;
        @include flex(column, center, flex-start);
        margin-right: 40px;

        img {
          width: 100%;
        }

          .blog-left-text {
            padding: 20px;

            .blog-left-center {
              @include flex(row, flex-start, center);

              .blog-left-profile {
                border-radius: 50%;
                height: 50px;
                width: 50px;
                margin-top: 10px;
                margin-right: 10px;

              }

            }
          }

          .blog-left-img{
            width: 100%;
            height: 300px;
            display: flex;
          }
      }
  }

  .blog-right {
    width: 60%;
    @include flex(column, flex-start, flex-start);

      #blog-right-read{
        width: 100%;
        text-align: right;
      }

  }

  .blog-topic {
    margin: 50px 0px;
    padding-top: 40px;
    width: 100%;
    @include flex(row, flex-start, flex-start);

    .blog-topic-des {
      width: 80%;

      p {
        color: black;
      }
    }

    .blog-topic-but {
      text-align: right;
      width: 20%;
    }
  }

  .blog-holder {
    width: 100%;
    @include flex(row, space-evenly, flex-start);
  }

  .blog-box2 {
    width: 80%;
    @include flex(column, center, center);
  }

  .blog-container {
    @include flex(row, flex-start, flex-start);
    width: 100%;
  }

  .blog-section:hover {
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
  }

  .blog-section {
    background-color: $dark-blue;
    // min-height: 450px;
    // max-height: 465px;
    border: black 1px solid;
    width: 43%;
    @include flex(row, flex-start, flex-start);

    .blog-section-side {
      width: 100%;
      @include flex(column, center, flex-start);

        img {
          width: 100%;
        }

        .blog-section-img  {
          width: 100%;
          height: 250px;
          display: flex;
        }

        .blog-section-text {
          padding: 20px;

          .blog-section-bottom {
            @include flex(row, flex-start, center);

              .blog-section-profile {
                border-radius: 50%;
                height: 50px;
                width: 50px;
                margin-top: 10px;
                margin-right: 10px;

              }
          }
        }


    }
  }

}

@media only screen and (max-width: 960px) {
  .blog-main {
    .blog-background {
      height: 50%;
    }

    .blog-front {
      height: 100%;
      @include flex(column, center, center);
      color: black;

      .blog-left {
        width: 70%;
        margin-right: 0px;
      }

      .blog-right {
        padding-top: 20px;
        p{
          color: black;
        }
      }
    }

    .blog-box {
      width: 90%;
      @include flex(column, center, center);
    }

    .blog-topic {
      @include flex(column, center, center);
      width: 70%;
      padding: 20px 0px;
      margin: 0;

      .blog-topic-des, .blog-topic-but {
        @include flex(column, center, center);
        padding-bottom: 5px;
        width: 100%;
      }
    }

    .blog-holder {
      @include flex(column, center, center);
    }
    .blog-section {
      width: 65%;
    }
  }
}
