.event-img {
  width: 100%;
}

.event-container {
  @include flex(column, center, center);
  width: 100%;
}

.event-banner {
  background-image: url('../../assets/images/home/index-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 250px;
  color: white;
  padding: 20px 20px;

  .event-banner-text {
    width: 100%;
    @include flex(column, center, center);

    .event-banner-body {
      width: 80%;
    }
  }

}

.event-icons {
  @include flex(row, center, center);
  width: 100%;
  top: -80px;
  position: relative;

  .event-icon-container {
    width: 100%;
  }

  .icon {
    margin: 0px 20px;
  }

  img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 3px solid white;
  }
}

.event-grid {
  width: 100%;
  height: 100%;


  .event-grid-container {
    padding: 50px 100px;
  }

  .event-grid-card:hover {
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
  }

  .event-grid-card {

    .event-grid-card-image {
      width: 100%;
      height: 250px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      @include flex(column, flex-end, flex-start);
      color: white;

      .event-grid-card-image-overlay {
        width: 50%;
        padding: 20px;
      }
    }

    .event-grid-card-body {
      background-color: $dark-blue;
      padding: 10px 20px;
      // height: 250px;

      p {
        color: white;
      }
    }

    .event-grid-card-footer {
      background-color: $dark-blue;
      @include flex(row, flex-start, center);
      height: 50px;
      background-color: $event-dark-blue;

      img {
        height: 35px;
        width: 35px;
      }

      .event-grid-card-footer-social {
        @include flex(row, flex-start, center);
        height: 100%;
        width: 25%;
        margin-left: 20px;

        .social-event-icon {
          border-radius: 50%;
          margin: 0px 5px;
        }
      }

      .event-grid-card-footer-difficulty {
        @include flex(row, flex-end, center);
        color: white;
        height: 100%;
        width: 75%;

        .event-grid-card-footer-difficulty-left {
          @include flex(row, flex-end, center);
          padding-right: 10px;
          width: 50%;
        }

        .event-grid-card-footer-difficulty-right {
          @include flex(row, center, center);
          width: 50%;
          background-color: $event-light-blue;
          height: 50px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .event-banner {
    background-image: url('../../assets/images/home/index-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    color: white;
    padding: 20px 20px;

    .event-banner-text {
      width: 100%;
      @include flex(column, center, center);

      .event-banner-body {
        width: 80%;
      }
    }

  }

  .event-grid {
    width: 100%;

    .event-grid-card {
      margin-bottom: 40px;

      .event-grid-card-body {
        height: auto;
      }
    }
  }

  .event-icons {
    @include flex(row, center, center);
    width: 100%;
    top: -60px;
    position: relative;

    .event-icon-container {
      width: 100%;
    }

    .icon {
      margin: 0px 10px;
    }

    img {
      height: 100px;
      width: 100px;
    }
  }
}

@media only screen and (max-width: 650px) {
  .event-banner {
    width: 100%;
    height: 100%;

    .event-banner-body {
      padding-bottom: 40px;
    }
  }

  .event-grid {

    .event-grid-container {
      padding: 50px 50px;
    }
  }

  .event-icons {
    position: none;
    top: -40px;

    .icon {
      margin: 0px 5px;
    }

    img {
      height: 75px;
      width: 75px;
    }
  }
}
