.event-img {
  width: 100%;
}

.event-container {
  @include flex(column, center, center);
  width: 100%;
  padding-bottom: 30px;
}

// HEADER SECTION ==========================================================

// Banner section
.event-banner {
  @include background('../../assets/images/home/index-bg.png', no-repeat, cover);
  @include size(100%, 250px);
  color: white;
  padding: 20px 20px;
  @include desktop {
    height: 300px;
  }
  @include tablet {
    @include size(100%, 100%);
  }

  .event-banner-text {
    @include flex(column, center, center);
    width: 100%;
  }

  .event-banner-body {
    width: 80%;

    @include tablet {
      padding-bottom: 40px;
    }
  }
}

// Icon section
.event-icons {
  @include flex(row, center, center);
  width: 100%;
  top: -80px;
  position: relative;
  @include desktop {
    width: 100%;
    top: -60px;
    position: relative;
  }
  @include tablet {
    position: none;
    top: -40px;
  }

  .event-icon-container {
    width: 100%;
  }

  .icon {
    margin: 0px 20px;
    @include desktop {
      margin: 0px 10px;
    }
    @include tablet {
      margin: 0px 5px;
    }
  }

  img {
    @include size(150px, 150px);
    border-radius: 50%;
    border: 3px solid white;

    @include desktop {
      @include size(100px, 100px);
    }
    @include tablet {
      @include size(75px, 75px);
    }
  }
}

// GOOGLE CALENDAR SECTION =======================================================

#gcal {
  margin-top: 30px;
}
// EVENT CARD SECTION =======================================================

.event-grid {
  @include size(100%, 100%);

  .event-grid-container {
    padding: 50px 100px;

    @include tablet {
      padding: 50px 50px;
    }
  }

  .event-grid-card:hover {
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
  }

  .event-grid-card {
    @include desktop {
      margin-bottom: 40px;
    }
  }

  .event-grid-card-image {
    @include size(100%, 250px);
    @include flex(column, flex-end, flex-start);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    }

    .event-grid-card-image-overlay {
      width: 50%;
      padding: 20px;
    }

    .event-grid-card-body {
      background-color: $dark-blue;
      padding: 10px 20px;
      @include desktop {
        height: auto;
      }

      p {
        color: white;
      }
    }

  .event-grid-card-footer {
    @include flex(row, flex-start, center);
    height: 50px;
    background-color: $event-dark-blue;

    img {
      @include size(35px, 35px);
    }

  }

  .event-grid-card-footer-social {
    @include flex(row, flex-start, center);
    @include size(25%, 100%);
    margin-left: 20px;
  }

  .social-event-icon {
    border-radius: 50%;
    margin: 0px 5px;
  }

  .event-grid-card-footer-difficulty {
    @include flex(row, flex-end, center);
    @include size(75%, 100%);
    color: white;
  }

  .event-grid-card-footer-difficulty-left {
    @include flex(row, flex-end, center);
    padding-right: 10px;
    width: 50%;
  }

  .event-grid-card-footer-difficulty-right {
    @include flex(row, center, center);
    @include size(50%, 50px);
    background-color: $event-light-blue;
  }
}
