// BEGIN INSTAFEED CSS ========================================================

// INSTAFEED CONTAINER
.IGcontainer {
  background-color: $dark-blue;
  width: 100%;

  .IGcontainer-space {
    padding: 0px 100px 0px 150px;

    .IGcontainer-space-heading {
      width: 100%;
      float: left;
      a {
        font-size: 30px;
        float: left;
        margin: 10px;
      }
    }
  }
}

// INSTAFEED INDIVIDUAL POST
#instafeed {
  @include size(100%, 100%);

 .IGpost {
   border: 5px solid white;
   opacity: 0.7;
   @include size(225px, 225px);
   background-repeat: no-repeat;
   background-size: cover;
   @include flex(column, flex-end, flex-start);
   margin-bottom: 40px;
 }

 .IGpost:hover {
   opacity: 1;
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
   -webkit-transition: all 0.8s;
   transition: all 0.8s;
 }

 .IGpost:hover .IGcaption {
     opacity: 1;
 }

 .IGcaption {
   color: white;
   padding: 0px 0px 10px 10px;
   opacity: 0;
 }
}
// END INSTAFEED CSS ========================================================

.main {
  width: 100%;
  @include background('../../assets/images/home/index-bg.png', no-repeat, cover);
  @include flex(column, center, center);

  h1 {
    color: $light-blue;
    margin-bottom: $text-margin;
  }

  p {
    width: 85%;
  }

  .main-inner {
    width: 80%;
  }

  .section {
    height: 300px;
    margin-top: $section-margin;
    margin-bottom: $section-margin;
    color: $light-blue;
    @include flex(row, space-between, center);
  }

  .text {
    width: 50%;
    height: 100%;
    display: flex;
    @include flex(column, center, flex-start);
  }

  #news {
    width: 50%;
    height: 100%;
    border-left: 1px solid $grey;
    overflow-y: scroll;

    li {
      text-align: left;
      margin-top: $text-margin;
      padding-left: $text-margin;
      line-height: 1.5;
      @include flex(column, center, flex-start);
    }
  }

  button {
    margin-top: $text-margin;

    a {
      color: $dark-blue;
      font-size: $h3;
    }
  }

  #goal {
    @include size(40%, 100%);
  }

  #team {
    @include size(60%, 100%);
    border-left: 1px solid $grey;
    @include flex(column, center, center);

    .profile-header {
      width: 100%;
      text-align: center;

      p {
        width: 100%;
        padding-left: $text-margin;
      }
    }

    .place {
      @include flex(row, center, center);
    }

    .place-dot{
      @include size(20px, 20px);
      margin: 5px;
      border-radius: 50%;
      background-color: black;
      opacity: 50%;
    }

    .profile-section {
      @include size(100%, 100%);
      padding-left: $text-margin;
      // border: red 5px solid;
      @include flex(row, space-between, flex-start);

      .prev, .next {
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
        font-weight: bold;
        user-select: none;
      }

      .profile {
        @include flex(column, center, center);
        height: 100%;

        h4 {
          font-size: $small;
          color: $light-grey;
        }
        img {
          @include size(120px, 120px);
          border-radius: 50%;
          border: 1px white solid;
          margin: 0px 10px;
        }
      }
    }
  }

  #stand-section {
    @include size(100%, 800px);
    @include background('../../assets/images/home/weDo-bg.svg', no-repeat, cover);
    margin-bottom: 0px;
    margin-top: 0px;

    @include flex(column, flex-start, flex-start);

    .stand-layout {
      width: 100%;
    }

    .stand-box {
      padding: 150px;
    }

    .stand-individual {
      width: 100%;
      @include flex(row, center, center);
    }

    img {
      @include size(100px, 100px);
      border-radius: 50%;
      border: 5px solid white;
    }

    .stand-heading {
      width: 100%;
      float: left;
      a {
        font-size: 30px;
        float: left;
        margin: 10px;
      }
    }

    .stand-img {
      float: left;
    }

    .stand-body {
      float: right;
      margin-left: 30px;
      width: 100%;
      text-align: left;

      a {
        width: 100%;
      }
    }
  }


}

@media only screen and (max-width: 960px) {
  // BEGIN INSTAFEED CSS ========================================================

  // INSTAFEED CONTAINER
  .IGcontainer {

    .IGcontainer-space {
      padding: 0px $text-margin 0px $text-margin;

      .IGcontainer-space-heading {

        a {

        }
      }
    }
  }

  // INSTAFEED INDIVIDUAL POST
  #instafeed {

   .IGpost {

   }

   .IGpost:hover {

   }

   .IGpost:hover .IGcaption {

   }

   .IGcaption {

   }
  }
  // END INSTAFEED CSS ========================================================

  .main{
    .section {
      @include flex(column, space-between, flex-start);
      margin-bottom: 0px;
      margin-top: $text-margin;
    }

    #team, #news, #goal, .text, .left {
      width: 100%;
      margin-bottom: $text-margin;
    }

    .section, #resource-links {
      height: 100%;
    }

      #team {
        .profile-header {
          text-align: left;

          p {
            padding-left: 0;
          }
        }

        .profile-header h2 {
          justify-content: left;
        }

        .profile-section {
          padding-left: 0;
          @include flex(row, space-between, flex-start);

            .prev, .next {
              height: 13vw;
            }
          }

          .place-dot{
            height: 2vw;
            width: 2vw;
          }

        .profile-section .profile {
              img {
                height: 13vw;
                width: 13vw;
              }
            }
      }

    #news, #team {
      border-left: none;
    }

    #update, .left {
        float: left;
    }

    #news li {
        padding: 0;
    }

    #stand-section {
      height: 100%;
      padding-bottom: 50px;

      .stand-box {
        padding: 0px;
        padding-top: 150px;
        padding-left: $text-margin;
      }
    }
  }
}
