.main {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-image: url('../../assets/images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  @include flex(column, center, center);

  h1 {
    color: $light-blue;
    margin-bottom: $text-margin;
  }

  p {
    width: 85%;
  }

  .main-inner {
    width: 80%;
  }

  .section {
    height: 300px;
    margin-top: $section-margin;
    margin-bottom: $section-margin;
    color: $light-blue;
    @include flex(row, space-between, center);
  }

  .text {
    width: 50%;
    height: 100%;
    display: flex;
    @include flex(column, center, flex-start);
  }

  #news {
    width: 50%;
    height: 100%;
    border-left: 1px solid $grey;
    overflow-y: scroll;

    li {
      text-align: left;
      margin-top: $text-margin;
      padding-left: $text-margin;
      @include flex(column, center, flex-start);
    }
  }

  button {
    margin-top: $text-margin;

    a {
      color: $dark-blue;
      font-size: $h3;
    }
  }

  #goal {
    width: 40%;
    height: 100%;
  }

  #team {
    width: 60%;
    height: 100%;
    border-left: 1px solid $grey;
    @include flex(column, space-between, center);

    .profile-section {
      width: 100%;
      height: 60%;
      display: flex;
      flex-direction: row;
      overflow-x: scroll;

      .profile {
        width: 100%;
        @include flex(column, center, center);

        h4 {
          font-size: $small;
          color: $light-grey;
        }
        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          margin-left: 20px;
          // padding: 10px;
        }
      }
    }
  }

  #resources-section {
    height: 600px;
    width: 100%;
    background-image: url('../../assets/images/blue-div.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0px;
    margin-top: 0px;
    @include flex(row, center, center);
  }

  #resources-inner {
    width: 80%;
    // background-color: blue;
  }

  #resources-links {
    margin-top: $text-margin;
    @include flex(row,space-between,center);
  }

  .resource-group {
    height: 200px;
    width: 30%;
    @include flex(column, flex-start, center);
    .resource-title {
      margin-bottom: $text-margin;
    }
    .resource-body {
      width: 100%;
      height: 100%;
      overflow-y: scroll;

      li {
        margin-bottom: 10px;
      }
    }
  }

  #last {
    margin-bottom: $section-margin;
  }
}

@media only screen and (max-width: 960px) {
  .main{
    .section {
      @include flex(column, space-between, flex-start);
      margin-bottom: 0px;
      margin-top: 10px;
    }

    #team, #news, #goal, .text, .left {
      width: 100%;
      margin-bottom: $text-margin;
    }

    .resource-group, .section, #resource-links {
      height: 100%;
    }

    .resource-shift {
      margin-left: -60px;
    }

    .profile-section {
      margin-left: -20px;
    }

    #news, #team {
      border-left: none;
      align-items: flex-start;
    }

    #update, .left {
        float: left;
    }

    #news li {
        padding: 0;
    }

    #resources-links {
      flex-direction: column;
      float: left;
    }
  }
}
