.program-container {
  @include flex(column, center, center);
  width: 100%;
  padding-bottom: 30px;
}

// HEADER SECTION ==========================================================

// BANNER SECTION ==========================================================
.program-banner {
  @include background('../../assets/images/home/index-bg.png', no-repeat, cover);
  @include size(100%, 250px);
  color: white;
  padding: 20px 20px;
  @include desktop {
    height: 300px;
  }
  @include tablet {
    @include size(100%, 100%);
  }

  .program-banner-text {
    @include flex(column, center, center);
    width: 100%;
  }

  .program-banner-body {
    width: 80%;

    @include tablet {
      padding-bottom: 40px;
    }
  }
}

// CARD SECTION ==========================================================
.program-card {
  @include flex(row, center, center);
  @include size(100%, 100%);
  padding: 50px;

  .program-body {
    @include flex(row, flex-start, flex-start);
    @include size(100%, 100%);
    border: 5px solid black;
  }

  .program-image {
    @include size(50%, 100%);
    padding-right: 20px;
    border: 5px solid red;
    img {
      @include size(100%, 100%);
    }
  }

  .program-text {
    border: 5px solid blue;
    @include size(50%, 100%);
  }

}
