.resources-container {
  width: 100%;
  @include flex(column, center, center);

  hr {
    width: 100%;
  }

  a {
    font-size: $h4;
  }

  .resources-box {
    width: 80%;
    @include flex(column, space-between, flex-start);
  }

  // Submit Section
  .resources-submit {
    width: 100%;
    @include flex(column, center, center);
    // border: 5px solid green;

    .resources-submit-text {
      text-align: center;
      width: 70%;
    }
  }

  // Island section
  .resources-island {
    width: 100%;
    @include flex(column, flex-start, flex-start);

    .resources-island-bar {
      width: 50%;
      @include flex(row, space-between, flex-start);

      a {
        @include flex(row, flex-start, flex-start);
      }
    }

    .resources-island-section {
      @include flex(column, flex-start, flex-start);
      color: black;
      width: 100%;

      img {
        width: 200px;
        height: 170px;
        border-radius: 50%;
        border: 1px solid black;
      }

      .resources-island-section-container {
      padding: 10px 0px;
      width: 100%;
      @include flex(row, flex-start, flex-start);
        .resources-island-section-container-img {
          float: left;
        }
        .resources-island-section-container-body {
          height: 170px;
          @include flex(column, space-between, flex-start);
          float: right;
          margin-left: 30px;

          .resources-island-section-container-body-top {
            @include flex(column, flex-start, flex-start);
          }
        }
      }
    }
  }

  // Online Section
  .resources-online {
    width: 100%;
    padding: 20px 0px;
    // border: 5px solid red;
    @include flex(column, flex-start, flex-start);

    .resources-online-bar{
      width: 100%;
      @include flex(row, space-between, flex-start);

      a {
          @include flex(row, flex-start, flex-start);
      }
    }

    .resources-online-summary {
      width: 100%;
      @include flex(column, flex-start, flex-start);
    }
  }
}
