.resources-container {
  width: 100%;
  @include flex(column, center, center);
    color: $dark-blue;

  .tags {
    @include flex(row, flex-start, flex-start);
    color: $dark-blue;
    padding: 0px 10px;
    border: 1px solid black;
    border-radius: 50px;
    background-color: #D5D5D5;
    margin-right: 10px;
  }

  .tags-horizontal {
    @include flex(row, flex-start, flex-start);
    width: 100%;
  }

  hr {
    width: 100%;
  }

  a {
    font-size: $h4;
  }

  .resources-box {
    width: 80%;
    @include flex(column, space-between, flex-start);
  }

  // Banner section
  .resources-banner {
    @include flex(column, flex-start, flex-start);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: white;

    .resources-banner-text {
      background-image: url("/assets/images/blog/fill.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 500px;

      .resources-banner-text-box {
        background-image: url("/assets/images/blue_div-spotlight.svg");
        background-repeat: no-repeat;
        background-size: contain;
        padding: 40px;
        @include flex(column, flex-start, flex-start);
        width: 750px;
        height: 650px;

        .resources-banner-text-box-word {
          @include flex(column, flex-start, flex-start);
          width: 50%;
          height: 300px;
        }
      }

      a{
        font-size: 22px;
      }
    }
  }


  // Submit Section
  .resources-submit {
    padding: 20px 0px;
    width: 100%;
    height: 100%;
    @include flex(column, center, center);
    // border: 5px solid green;

    .resources-submit-text {
      text-align: center;
      width: 45%;
      color: black;
    }
  }

  // Island section
  .resources-island {
    width: 100%;
    @include flex(column, flex-start, flex-start);

    .resources-island-bar {
      padding: 20px 0;
      width: 100%;
      @include flex(row, space-between, center);
      .resources-island-bar-list {
        width: 40%;
        @include flex(row, space-between, flex-start);

        a {
          background: -webkit-linear-gradient($yellow, orange);
          -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
          @include flex(row, flex-start, flex-start);
        }
      }

      .resources-island-bar-img {
        @include flex(row, flex-end, flex-end);
        img {
          float: right;
        }
      }
    }

    .resources-island-section {
      @include flex(column, flex-start, flex-start);
      width: 100%;
      padding-bottom: 20px;

      img {
        width: 200px;
        height: 170px;
        border-radius: 50%;
        border: 1px solid black;
      }

      .resources-island-section-search {
        border-radius: 10px;
        background-color: $dark-blue;
        @include flex(row, flex-end, flex-end);
        width: 40%;
        padding: 10px 0px;
        margin-bottom: 50px;

        .resources-island-section-search-bar {
          display: flex;
          flex-direction: row;
          width: 80%;
          padding-right: 20px;

          input {
            float: right;
            width: 100%;
            height: 30px;
          }

          #submit {
            background-image: url("/assets/images/search.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            background-color: $yellow;
            height: 36px;
            width: 20%;
          }
        }
      }

      .resources-island-section-container:hover {
        box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
      }

      .resources-island-section-container {
      padding: 10px 0px;
      margin-bottom: 10px;
      width: 100%;
      @include flex(row, flex-start, flex-start);
        .resources-island-section-container-img {
          float: left;
        }
        .resources-island-section-container-body {
          padding: 10px 0px;
          height: 170px;
          @include flex(column, space-between, flex-start);
          float: right;
          margin-left: 30px;

          .resources-island-section-container-body-top {
            @include flex(column, flex-start, flex-start);
          }
        }
      }
    }
  }

  // Online Section
  .resources-online {
    background-image: url('../../assets/images/wave-blue.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100.1%;
    padding: 70px 0px;
    // border: 5px solid red;
    @include flex(column, center, center);

    .resources-box {
      color: white;
    }
    .resources-online-text {
      padding: 100px 0px 50px 0px;
    }

    .resources-online-bar {
      width: 100%;
      @include flex(row, space-between, flex-start);

      a {
          @include flex(row, flex-start, flex-start);
      }
    }

    .resources-online-summary {
      width: 100%;
      @include flex(column, flex-start, flex-start);

      .resources-online-summary-intro {
        padding-bottom: 20px;
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  .resources-container {

    // Banner Section
    .resources-banner {
      height: 100%;
    }

    // Island section
    .resources-island {

      .resources-island-bar {
        .resources-island-bar-list {
          width: 300px;
        }
      }

      .resources-island-section {
        .resources-island-section-search {
          width: 300px;
        }

        .resources-island-section-container {
        @include flex(column, center, center);
          .resources-island-section-container-body {
            margin: 0px;
            height: 100%;
          }
        }
      }
    }
  }
}
