.team-container {
  width: 100%;
  @include flex(column, center, center);
  .team-box {
    padding-top: 100px;
    width: 90%;
    @include flex(row, center, center);
  }

  // ABOUT SECTION
  .team-about {
    @include flex(row, center, center);

    .team-about-img {
      width: 65%;
      height: 440px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .team-about-img {
      background-image: url("/assets/images/about/team-1.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
    .team-about-img:hover {
      background-image: url("/assets/images/about/team-2.png");
    }
    .team-about-img:active {
      background-image: url("/assets/images/about/team-3.png");
    }

    .team-about-text {
      padding-left: 60px;
      @include flex(column, space-between, space-between);
      width: 35%;
      height: 100%;
    }
  }

  // TEAM SECTION
  .background {
    @include flex(column, flex-start, center);
    background-image: url('../../assets/images/blue-div.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

  }

  .team-display {
    @include flex(column, flex-start, flex-start);
    width: 90%;
    color: white;


    .team-display-head {
    padding-top: 100px;
    @include flex(column, flex-start, flex-start);
    width: 50%;

      h2 {
        font-family: "Archivo Narrow", sans-serif;
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 3px;
      }
    }

    .team-display-row {
      @include flex(row, flex-start, flex-start);
      width: 100%;
    }

    .team-display-all {
      padding: 20px;
      width: 33%;
      @include flex(column, center, center);
      .team-display-all-img {
        @include flex(column, center, center);
        width: 100%;
        img{
          height: 180px;
          width: 180px;
          border-radius: 50%;
        }
      }
      .team-display-all-text {
        padding-top: 5px;
        @include flex(column, center, center);
        width: 90%;

        #padding {
          text-align: center;
          padding-top: 17px;
        }
      }

      .team-display-all-icon {
        @include flex(row, center, center);
        img {
          padding: 5px;
          height: 40px;
          width: 40px;
          border-radius: 25px;
        }
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  .team-container {
    // ABOUT SECTION
    .team-about {
      @include flex(column, center, center);

      .team-about-img {
        width: 100%;
        height: 400px;
      }

      .team-about-text {
        padding-top: 20px;
        @include flex(column, center, center);
        width: 100%;
        height: 100%;
        padding-left: 0px;
      }
    }

    // TEAM SECTION
    .background {
      background-position: none;
    }
    .team-display {
      height: 100%;
      .team-display-head {
      color: black;
      @include flex(column, flex-start, flex-start);
      width: 80%;
      padding-top: 0px;
      }

      .team-display-row {
        @include flex(column, flex-start, flex-start);
      }

      .team-display-all {
        width: 100%;
        @include flex(column, center, center);
      }
    }
  }
}
