---
layout: default
---
{% assign author = site.data.members[page.author] %}

<div id="post">
  <img id="background" src="../../../{{ page.picture }}" alt="">
  <div id="post-section">
    <div id="post-info">
      <h1>{{ page.title }} {{ page.tag }}</h1>
      <div class="author-date_container">
        <img class="profile" src="../../../{{ author.profile }}" alt="">
        <p>{{ page.date | date: "%b %d, %Y" }} by {{ author.full_name }}</p>
      </div>
    </div>
    <div id="post-content">
      {{ content }}
    </div>
  </div>
</div>
