---
layout: default
---
<div class="resources-container">
  <!-- Banner Section -->
  <div class="resources-banner">

    <div class="resources-banner-text">
      <h2>Community Spotlight</h2>
      <h2> {{site.sources[2].title}}</h2>
      <br>
      <p>{{site.sources[2].tags}}</p>
      <br>
      <h3>{{site.sources[2].excerpt}}</h3>
    </div>
  </div>

  <div class="resources-box">
    <!-- Submit Section -->
    <div class="resources-submit">
      <div class="resources-submit-text">
        <p>Know of a great resources not listed here?  Want to nominate an organization for our next community spotlight? </p>
      </div>
      <br>
      <div class="resources-submit-button">
        <button type="button" name="button">Submit a Resource</button>
      </div>
    </div>

    <br>
    {{ content }}

    <!-- Online Section -->
    <div class="resources-online">
      <h2>Online Resources</h2>
      <br>
      <div class="resources-online-bar">
        <a href="/">Basic Digital Skills</a>
        <a href="/">Intermediate</a>
        <a href="/">Advance</a>
      </div>
      <hr>
      <div class="resources-online-summary">
        <p>Learning how to use the computer for the first time? This section includes resources that show beginners how to symmetrical viral letterpress, McSweeney's seitan 3 wolf moon drinking vinegar sartorial pour-over messenger bag photo booth umami next level craft beer.</p>
        <br>
        <div class="resources-online-summary-section">
          <a href="/">NorthStar</a>
          <p>Keytar McSweeney's Williamsburg, readymade leggings try-hard 90's street art letterpress hoodie occupy Wes Anderson Banksy. Asymmetrical viral letterpress, McSweeney's seitan 3 wolf moon drinking vinegar sartorial pour-over messenger bag photo booth umami next level craft beer.</p>
          <br>
        </div>
        <div class="resources-online-summary-section">
          <a href="/">NorthStar</a>
          <p>Keytar McSweeney's Williamsburg, readymade leggings try-hard 90's street art letterpress hoodie occupy Wes Anderson Banksy. Asymmetrical viral letterpress, McSweeney's seitan 3 wolf moon drinking vinegar sartorial pour-over messenger bag photo booth umami next level craft beer.</p>
          <br>
        </div>
        <div class="resources-online-summary-section">
          <a href="/">NorthStar</a>
          <p>Keytar McSweeney's Williamsburg, readymade leggings try-hard 90's street art letterpress hoodie occupy Wes Anderson Banksy. Asymmetrical viral letterpress, McSweeney's seitan 3 wolf moon drinking vinegar sartorial pour-over messenger bag photo booth umami next level craft beer.</p>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
